.snakemake/
.snakemake_old/
.vscode/
*test*
*backup*
*workflow*
Crypto_*/data/
Crypto_*/results*
Crypto_*/logs/*/

*.quarto*
analyses_old
analyses/notebooks/scripts/ploidy_depth/logs
analyses/notebooks/scripts/ploidy_depth
analyses/results/tables/