# #Data for the project
.snakemake/
.vscode
*test*
*results*
*backup*
*workflow*
*.log
logs/
data/*
Crypto_Desjardins/data
Crypto_Ashton/data/
analyses/variants/data/
analyses/cnv_plot/ashton/data/
analyses/cnv_plot/desjardins/data/
